body {
  font-family: 'Roboto', sans-serif;
}
canvas {
background-color: rgb(255, 255, 255)
}
#main {
  width: 100%;
  height: 100%;
}
#layerlist{
	top:139px;
  position: absolute;
  right: 20px;
}
.layerlistbutton {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
.layer-tree-panel {
  margin-right: 38px;
  border: 1px solid #cccccc;
  max-height:400px;
  overflow:auto;
}
.layer-list-header {
  padding: 8px;
}
.ol-overviewmap {
  bottom: 35px;
}
.ol-mouse-position{
}
#legend{
	top:194px;
    position: absolute;
    right: 20px;
}

#fullscreen-button{
	top:304px;
  position: absolute;
  margin-left: 20px;
}
#geolocation-control{
	top:359px;
  position: absolute;
  margin-left: 20px;
}
#home-button{
	top:249px;
  position: absolute;
  margin-left: 20px;
}
#zoom-slider {
  position: absolute;
  width: 150px;
  left: 100px;
  top: 70px;
}
#zoom-buttons{
	top:139px;
  margin-left: 20px;
  position: absolute;
}
#rotate-button{
	top:84px;
  margin-left: 20px;
  position: absolute;
}
#edit-tool-panel {
  display: none;
  position: absolute;
  background: rgba(255,255,255, 1);
  padding: 15px;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  top: 71px;
  right: 0px;
  max-width: 50%;
  z-index: 1111;
}
#geocoding {
  display: inline;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map {
  height: calc(100% - 71px);
  width: 100%;
  position: absolute;
  top: 71px;
}
#map:-webkit-full-screen {
  top: 0px !important;
  height: 100% !important;
}
#map:-moz-full-screen {
  top: 0px !important;
  height: 100% !important;
}
#map:-ms-fullscreen {
  top: 0px !important;
  height: 100% !important;
}
#map:fullscreen {
  top: 0px !important;
  height: 100% !important;
}
#content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
}
.geocoding-results-panel {
  display: none;
  position: absolute;
  background: rgba(255,255,255, 1);
  padding: 15px;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  top: 71px;
  left: 0px;
  max-width: 50%;
  z-index: 1111;
}
.query-panel {
  display: none;
  position: absolute;
  background: rgba(255,255,255, 1);
  padding: 15px;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  top: 71px;
  right: 0px;
  max-width: 50%;
  z-index: 1111;
}
.attributes-table {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 101;
  background-color: white;
}
.chart-panel{
  display: none;
  position: absolute;
  background: rgba(255,255,255,1);
  border: 1px solid #000000;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 101;
}
#bookmarks-panel {
  position: absolute;
  left: 25px;
}
.about-panel {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.7);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
  top: 250px;
  left: 75px;
  height: 300px;
  width: 300px;
  min-width: 300px;
  z-index: 100;
  overflow-y: auto;
}
.about-closer-icon {
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.about-closer-icon:hover {
  color: #000000;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
}
#wfst {
 display: none;
 position: absolute;
 background: rgba(255,255,255, 1);
 padding: 5px;
 border: 1px solid #000000;
 top: 71px;
 right: 0px;
 max-width: 50%;
 z-index: 1111;
}
.sdk-playback {
  top: 0px;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  bottom: auto !important;
}
